<footer class="footer-tellus">
    <div class="wrapper_tellus">
        <p><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}  &bull; Simple, intelligent help center created by <a href="https://boonhq.com" target="_blank">Boon</a></p>
    </div>
</footer>
