<div class="search_tellus">
    {{! Search engine }}
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.js"}}"></script>
        
    <div class="wrapper-form_tellus"> <form><input type="text" id="search-field" class="wrapper_tellus" placeholder="Search articles..." /></form></div>
      
    <div class="wrapper-results_tellus">
        <section id="results" class="wrapper_tellus"></section>
    </div>
    
    <script>
        $("#search-field").ghostHunter({
            results   : "#results",
            onKeyUp   : true,
            zeroResultsInfo     : false
        });
    </script>

</div>